body            { font-family: sans-serif; background: #eee; }
a, h1, h2       { color: #377ba8; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

.tweet {
    width: 500px;
    min-height: 80px;
}

.tweet img {
    width:100px;
    float:left;
}

.tweet h1 {
    color:red;
    float:left;
    width:400px;
}

.tweet p {
    float:left;
    width:100%;
}
